@model IEnumerable<CustAuthorizationFilterEx.Models.Product>
<!DOCTYPE html>
<html>
<head>
        <title></title>
</head>
<body>
   <h2> Welcome to User Home Index </h2>
  @* <h3>Welcome:@TempData["UserName"]</h3> *@
    <h3> Welcome: @Context.Session.GetString("UserName")</h3>
    <a asp-action="signout" asp-controller="ManageUser" asp-area=""> Sign Out </a>
   <h3> Product List </h3>
   <table border="1">
       <thead>
           <tr>
               <th> Product ID </th>
               <th> Product Name </th>
               <th> Mfg Name </th>
               <th> Price</th>
           </tr>
       </thead>
       <tbody>
            @foreach (var temp in Model)
            {
              <tr>
                  <td>@temp.ProductID</td>
                  <td>@temp.ProductName</td>
                  <td>@temp.MfgName</td>
                  <td>@temp.Price</td>
              </tr>
            }
        </tbody>
   </table>
</body>
</html>